@media only screen and (max-width: 1199px){
  .DashCard-Container{
      width:100%;
      flex-flow: column wrap;
      display:flex;
      align-items: center;
  }
}

.stylish-btn {
  padding: 10px 12px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  font-size: .8em;
  letter-spacing: 1.5px;
  background-color: #2D3142;
  margin-bottom: 2em;
}

.btn-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 25%;
  justify-content: space-around;
}

.DashCard-Container > h2 {
  margin: 0;
  margin-bottom: .5em;
}

.score {
  position: absolute;
  right: 0;
  padding-right: 1em;
  padding-top: .3em;
}
