@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8fa4a4f3;
}

:root {
  --font-size: calc(10px + 1vmin);
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}